@import "_media-mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@300&display=swap');
@import "_anymations-typing-text";
@import "_variables.scss";

html {
    //overflow-y: scroll !important;
}

body::-webkit-scrollbar {
    width: 6px; /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
    /*background: orange;        !* цвет зоны отслеживания *!*/
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
    border: 1px solid var(--scrollbar);  /* отступ вокруг бегунка */
}

body {
    font-family: 'Ysabeau', sans-serif;
    background-color: var(--background);
}

.wrapper {
    padding: 0 74px;
    background-color: var(--background);

    @include mobile-lg {
        padding: 35px 30px;
    }
}

.overflow-hidden {
    overflow-x: hidden;
}
