---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.vue';
import Footer from '../components/Footer.astro';
import StartBanner from '../components/StartBanner.vue';
import TitleOverBlocks from '../components/TitleOverBlocks.vue';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
import Swiper from "../components/Swiper.astro";
import FeedBackForm from "../components/FeedBackForm.vue";
import Experience from "../components/Experience.astro";
import MobileMenu from "../components/MobileMenu.vue";
import SideMenuMobile from "../components/SideMenuMobile.vue";
---

<!DOCTYPE html>
<html lang="en" style="overflow-x: hidden">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body class="overflow-hidden">
<div class="wrapper">
    <Header client:only="vue"/>
    <TitleOverBlocks client:only="vue" title="about"/>
    <StartBanner client:only="vue"/>
    <TitleOverBlocks client:only="vue" title="projects" top="100"/>
    <Swiper/>
    <TitleOverBlocks client:only="vue" title="experience" top="100"/>
    <Experience />
    <TitleOverBlocks client:only="vue" title="feedback" top="100"/>
    <FeedBackForm client:only="vue"/>
    <SideMenuMobile client:only="vue"/>
    <MobileMenu client:only="vue"/>
</div>
<Footer />
<script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script is:inline>
    AOS.init();
</script>
</body>
</html>
