---
import {Icon} from 'astro-icon'
import footerLogo from "../../assets/logo-portfolio.jpg"
---

<div class="footer">
    <div class="left-side">
        <div class="logo">
            <img src="https://ilya-sharafeev-portfolio.s3.us-east-1.amazonaws.com/logo-portfolio.jpg?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEDwaDGV1LWNlbnRyYWwtMSJGMEQCIBGPWdUXVcPbxvE%2FTqMBF0zfkcm%2FzQIwu6kYw0EAV5u8AiBf%2BYSk92I734I6ZZmRte90sCaATyX1QWk2Aw3hGhBqDiroAghFEAAaDDEzNTc3NjA5OTkyOCIMmxm6vcneFaqNyljvKsUCPk%2FPROVJleNPKLwdHxg23wLSVJLEOathcN12h7ZkJh8yRFdM0dEMbm7xXnxOJB7NSDaosLCZMARJKYXgfGX35HsZ8Un4TEQmVjD47DF9%2FuxJeehDj71sm0P0uwowtLg%2Bw2iJUpJdOcsjzqFL6QgWEko4Qh3IIbIZhTHyZlnSPuVjYDYKkxwTZuj6Mtx6zGtx4d8NftD3CNO%2FWMxfHUuYWjCf6Bv9q%2FZl6RsemKrBdjOsHgtXIgjLxsK4lDMJuA%2FbBxzdgyl90Jk02%2FujE0y29A%2FOFoUF7yKMwmaH6qsV8HieiVaSVWADpiZZDdBybS%2FLUxegBpkd6Kgbf4wdLheT7nwykWXMh3D%2FGUSLrOhJ%2BcK0S0UmwuIVBWtB%2BzXqu5Qu5kxCu84x8ZHSRS8gILf7Ts5lX9oDTgM4%2BwEz3AVfN3JacLZ19TDGuqmiBjq0AmGQf6F%2FdLRjbuW6NAdS%2B9ON6XHBjHwezoIvGnQuxdwMF6MTkJCWNuteoXfSOva8FsOKM%2B%2FBLLF6qosBzb%2BZdVZWPFs7u2OEzCioo7NInOAnEb6f%2F%2BL9nLVJypynjCnrNsIDzNl3WAqIOyFThNPN3ZsDgvE1utGtdFKSmlI9uvcsF0urUYqUsdLYAxcQ1cHjuQ5dpwtdVA8aAHvKDwP4mc1vyIVtGvagfcE%2FTEi1dBKDE%2Bhh4vVUrFcVUfvizhRzuFiMPm8r7%2BB0PnxiBbuftqzA2hWaDn2VNKr6XBSWnEpPK%2FEp%2FHVH0JUTSlgbiJpq3lnwhJn37IJ%2FLLMhUig0cJ6Hy5FbvyjibDMxtDnWZzg6J%2FOUd7v7x8Pe9hwEif%2FIDBE%2FN4ziSIFnu0m7UVBpFKl47Sts&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230427T113613Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAR7HHC3ZMFYHC3GJC%2F20230427%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=b3dacaa35f04f82e3f4affd41b4d5bf4f1a26e30cd678e6ae8b3249f7a38b4de" alt="logo"/>
        </div>
        <div>© 2023 Ilya Sharafeev, LLC. All rights reserved.</div>
    </div>
    <div class="icons">
        <a href="https://t.me/IlyaSharafeev" target="blank" class="icons-item">
            <Icon name="cib:telegram-plane"/>
        </a>
        <a href="https://instagram.com/ilya__sharafeev?igshid=ZDdkNTZiNTM=" target="blank" class="icons-item">
            <Icon name="uil:instagram-alt"/>
        </a>
        <a href="https://www.linkedin.com/in/%D0%B8%D0%BB%D1%8C%D1%8F-%D1%88%D0%B0%D1%80%D0%B0%D1%84%D0%B5%D0%B5%D0%B2-6428891ba/" target="blank" class="icons-item">
            <Icon name="mdi:linkedin"/>
        </a>
        <a href="https://github.com/IlyaSharafeev" target="blank" class="icons-item">
            <Icon name="mdi:github"/>
        </a>
    </div>
</div>

<style lang="scss">
    .footer {
        min-height: 123px;
        border-top: 2px solid var(--border);
        background-color: var(--background);
        color: var(--color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 50px;
        margin-top: 282px;

        .left-side {
            display: flex;
            gap: 40px;

            .logo {
                width: 69px;
                height: 37px;
            }
        }

        .icons {
            display: flex;
            gap: 30px;

            .icons-item {
                width: 19px;
                height: 19px;
            }
        }
    }
</style>
